.input {
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  input {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    outline: 2px solid transparent;

    &:focus {
      outline-color: transparent;
    }
  }
}
